numpy==1.26.4
matplotlib==3.9.2
jupyter==1.1.1
ipython==8.27.0
notebook==7.2.2
tqdm==4.66.5
gym==0.26.2
torch==2.2.2
pygame==2.6.0
scikit-optimize==0.10.2
optuna==4.0.0
pandas==2.2.2
seaborn==0.13.2
argparse
typing
pytest==7.4.4
plotly==5.18.0
